@import "utils";
@import "fonts";
@import "typography";

html {
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
}

.game {
  &__container {
    width: $gameContainerWidth;
    margin: 0 auto;
  }

  &__field {
    width: $gameFieldWidth;
    height: $gameFieldWidth;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: $gap;

    background-color: $mainBgColor;
    border: $fieldBorder solid $mainBgColor;
    border-radius: $fieldBorder;
  }

  &__cell {
    background-color: $cellBGColorStart;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $mainFontSize;

    color: $cellBGColorStart;

    &--two {
      background-color: $cellBGColorActive;

      transition: 0.3s ease-in-out;
    }

    &--eight {
      background-color: #fa744f;
      transition: 0.3s ease-in-out;
    }

    &--third {
      background-color: #f79071;
      transition: 0.3s ease-in-out;
    }

    &--ten {
      background-color: #f4e04d;
      transition: 0.3s ease-in-out;
    }

    &--almost-win {
      background-color: #b80d57;
      transition: 0.3s ease-in-out;
    }

    &--win {
      background-color: #c81912;
      transition: 0.3s ease-in-out;
    }

    &__win-modal {
      position: fixed;
      background-color: rgba(#000, 0.7);
      width: 100%;
      height: 100vh;
    }
  }

  &__button {
    width: $buttonWidth;
    height: $buttonHeight;
    display: block;
    margin: $buttonGap auto;

    font-family: "Oswald", sans-serif;
    font-size: $buttonFontSize;
    line-height: $buttonFontSize;
    letter-spacing: 1px;

    border: none;
    border-radius: $buttonBorderRadius;
    background-color: $buttonColor;
    text-transform: uppercase;
    color: #fff;

    cursor: pointer;
  }

  &__over {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;

    background-color: rgba(#000, 0.7);
  }
}
