$gameContainerWidth: 524px;
$gameFieldWidth: 500px;
$buttonWidth: 250px;
$buttonHeight: 40px;
$gap: 10px;
$buttonGap: 20px;
$fieldBorder: 12px;
$buttonBorderRadius: 30px;

$mainFontSize: 70px;
$buttonFontSize: 20px;

$mainBgColor: #f6d186;
$cellBGColorStart: #fcf7bb;
$cellBGColorActive: #f2a365;
$buttonColor: #ff7c7c;
$cellTextColor: #706c61;
